<div ng-message="required">El campo es requerido.</div>
<div ng-message="email">Ingrese un E-mail valido.</div>
<div ng-message="telefono">Ingrese un número valido.</div>
<div ng-message="telefonoLength">El número debe de contener 10 digitos.</div>
<div ng-message="maxlength">El número de caracteres sobrepasa lo máximo permitido.</div>
<div ng-message="minlength">El número de caracteres es menor a lo permitido.</div>
<div ng-message="min">Ingrese un valor positivo.</div>
<div ng-message="number">Ingrese un valor númerico.</div>
<div ng-message="codigoPostal">Ingrese un código postal valido.</div>
<div ng-message="numeroDireccion">Ingrese un número de dirección valida.</div>
<div ng-message="password">
	<ul>
		<li>
			Ingrese entre 8-16 caracteres
		</li>
		<li>
			Debe contener una letra
		</li>
		<li>
			Debe contener un digito
		</li>
	</ul>
</div>