<ion-view class="bg-koua">
  	<ion-content>
  		<div class="wrap-politicas">
			<img src="img/aac.png" style="width:200px; margin-right: auto!important;margin-top: 20%; display: block!important;margin-left: 18vw;" alt="">
  			<p style="font-size: 10px!important;text-align: center;">
	    		SERVICIO AL CLIENTE
	    	</p>
	    	<img src="img/walogo.png" alt="whatsapp" style="width: 50px;    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: -2px;
    margin-bottom: -18px;">
  			<h2 style="text-align: center;"><a href="tel:+2225990117" style="text-decoration: none; color: #2db742;">222 59 90 117</a></h2>
	    	
	    	<div style="text-align: center;">
	    		<div class="row">
	    			<!--div class="col col-25">
	    				<a class="linkContacto" ng-href="whatsapp://send?phone=5255713813688&text=Estoy%20en%20la%aplicación%20de%20Sell-It%20y%20me%20gustaría%20saber%20más%20información.">
			    		    <img src="img/walogo.png" alt="whatsapp" style="width: 50px; margin: 5px;">
			    		    55713813688
			    		</a>
	    			</div-->
	    			<div class="col col-33">
	    				<a class="linkContacto" style="font-size: 9px !important">
			    			<img src="img/fblogo.png" alt="facebook" style="width: 50px; margin: 5px;"><br>
			    			@goniapp
			    		</a>
	    			</div>
	    			<div class="col col-33">
	    				<a class="linkContacto">
			    			<img src="img/iglogo.png" alt="instagram" style="width: 50px; margin: 5px;"><br>
			    			@goniapp
			    		</a>
	    			</div>
	    			<div class="col col-33" style="padding-top: 9px">
	    				<a class="linkContacto" ng-href="mailto:ventas@goniapp.com" style="font-size: 9px">
			    			<img src="img/email.png" alt="instagram" style="width: 45px; margin: 5px;"><br>
			    			ventas@goniapp.com
			    		</a>
	    			</div>
	    		</div>
	    	</div>
		  </div>
	</ion-content>
</ion-view>